/********CARD**********/
.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin: 2rem 0.5rem;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  /*border: 1px solid #a6f3b6;*/
  border-radius:10px;
}

.card:hover{
  border: 2px solid #28a745;
  border-radius:10px;
}

.card img {
  width:100%;
  height:auto;
}


.card-price {
  font-weight: normal;
  color: #28a745;
  height: 3rem;
}

div.card-body{
  margin: 0.5rem!important;
  padding: 0px;
}

.btn {
  font-size: 1rem;
}


.card-title {
  font-size: 1rem;
  height: 5rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

::placeholder {
  font-size: calc(12px + 0.390625vw) !important;
}

h3 {
  font-size: calc(20px + 0.390625vw) !important;
}

h4 {
  font-size: calc(18px + 0.390625vw) !important;
}

h5 {
  font-size: calc(16px + 0.390625vw) !important;
}

a {
  font-size: calc(12px + 0.390625vw) !important;
}

select {
  font-size: calc(10px + 0.390625vw) !important;
}

.disabled{
  /*color: #2b2a2a;*/
  background-color: whitesmoke;
  color: #2b2a2a;
}



